services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.5
    command: start-dev
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
      KC_HOSTNAME: 'http://localhost:8080'
      KC_HOSTNAME_BACKCHANNEL_DYNAMIC: 'true'
      KC_TRUSTSTORE_PATHS: /opt/keycloak/certs/rootCA.crt
      KC_TLS_HOSTNAME_VERIFIER: ANY
    ports:
      - "8080:8080"
    volumes:
      - kc_data:/opt/keycloak/data
      - ./certs:/opt/keycloak/certs
      - ./themes:/opt/keycloak/themes

  mail:
    image: axllent/mailpit:latest
    ports:
      - "8025:8025"

  bookshop:
    image: ghcr.io/dasniko/keycloak-bookshop-demo:0.0.11
    command: [ "wait-for-it.sh", "keycloak:8080", "--", "/deployments/entrypoint.sh" ]
    environment:
      WAITFORIT_TIMEOUT: '120'
      AUTH_SERVER_URL: http://keycloak:8080/realms/bookshop
      AUTH_SERVER_PUBLIC_URL: http://localhost:8080/realms/bookshop
      SHOP_CLIENT_ID: shop
      SHOP_CLIENT_SECRET: unknown
    ports:
      - "3000:3000"
      - "8081:8081"
      - "8083:8083"
    volumes:
      - ./bookshop-keycloak.json:/usr/share/nginx/html/keycloak.json

  ldap:
    container_name: kcd_ldap
    image: ghcr.io/dasniko/flintstones-ldap:latest
    # bind user: cn=keycloak,dc=bedrock,dc=local

volumes:
  kc_data:
    name: keycloak-workshop-light-data
